body{
    background-image: url("/Images/bg_image.jpg");
}
.search-div{
    width: 500px;
    margin: 0 auto;
}
#web-logo{
    content: url("/Images/MovieFinder.png");
    margin-left: 80px;
    width: 300px;
    height:300px;
}
table{
    border:2px solid black
}
td{
    background-color: rgb(213, 238, 180);
}
#image-data{
    background-color: white;
}
th{
    background-color: rgb(162, 201, 125);
}
#movie-table{
    margin:0 auto;
    margin-top: 30px;
}
button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-left: 180px;
    border-radius: 15px;
    outline: none;
    background-color: rgba(78, 201, 29, 0.562);
    margin-top: 5%;
    box-shadow: 0 5px #999;
}
input{
    width: 450px;
    height: 50px;
    margin: 0 auto;
    outline: none;
    text-align: justify;
    font-size: 20px;
    border-radius:110px;
}
#movie-details{
    text-align: left;
}
#movie_details{
    margin: 0 auto;
}
caption{
    font-family: "Verdana",sans-serif,monospace,"Aerial Black","Lucida Console";
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
	button{
    width: 100px;
    height: 40px;
    cursor: pointer;
    margin-left: 130px;
    border-radius: 15px;
    outline: none;
    background-color: rgba(78, 201, 29, 0.562);
    margin-top: 5%;
    box-shadow: 0 5px #999;
    }
    input{
        width: 335px;
        height: 50px;
        margin: 0 auto;
        outline: none;
        text-align: justify;
        font-size: 20px;
        border-radius:110px;
    }
    #web-logo{
        content: url("/Images/MovieFinder.png");
        margin-left: 75px;
        width: 200px;
        height:200px;
    }
}